/* line 4, app/scripts/modules/exportImage/exportImage.scss */
.export-image .export-image-table th {
  min-width: 85px;
}
/* line 8, app/scripts/modules/exportImage/exportImage.scss */
.export-image .select-input {
  border: 1px solid #ccc;
  padding: 6px;
  font-size: 1.6rem;
  line-height: 1.2;
  width: 100px;
}
/* line 15, app/scripts/modules/exportImage/exportImage.scss */
.export-image .btn-add-img {
  height: 120px;
  width: 180px;
  margin: 30px 0 0 20px;
  padding-top: 52px;
}
/* line 22, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item {
  border-top: 1px solid #ddd;
  margin: 0px -9px;
  padding: 10px;
}
/* line 26, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item:first-child {
  border-top: none;
  padding-top: 0px;
}
/* line 30, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-table {
  display: table;
  width: 100%;
}
/* line 34, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-table-cell {
  vertical-align: middle;
  display: table-cell;
}
/* line 38, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .description {
  width: 500px;
  font-size: 14px;
}
/* line 42, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel {
  background-color: #e6e6e6;
  padding: 20px 25px;
  width: calc(100% - 205px);
  position: relative;
  height: 180px;
  overflow: hidden;
}
/* line 49, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .bill-detail-img-ul {
  padding-right: 50px;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  white-space: nowrap;
  position: absolute;
}
/* line 56, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .bill-detail-img-ul li {
  position: relative;
}
/* line 58, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .bill-detail-img-ul li .img-counter {
  position: absolute;
  left: 5px;
  bottom: 0px;
}
/* line 63, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .bill-detail-img-ul li .img-status {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
/* line 70, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .bill-detail-img-ul .img {
  width: 200px;
  height: 140px;
  border-radius: 3px;
  transition: .3s;
  margin-left: 5px;
  object-fit: cover;
}
/* line 77, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .bill-detail-img-ul .img:hover {
  box-shadow: 0 20px 30px 0 rgba(158, 158, 158, 0.75);
}
/* line 80, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .bill-detail-img-ul .img:first-child {
  margin-left: 0px;
}
/* line 85, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .btn-prev,
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .btn-next {
  width: 25px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: #8A8A8A;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  position: absolute;
}
/* line 98, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .btn-prev:hover,
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .btn-next:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* line 103, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .btn-prev {
  border-radius: 0px 3px 3px 0px;
  left: 0px;
  top: 55px;
}
/* line 108, app/scripts/modules/exportImage/exportImage.scss */
.export-image .bill-detail .bill-detail-item .bill-detail-img-panel .btn-next {
  border-radius: 3px 0px 0px 3px;
  right: 0px;
  top: 55px;
}
